<a href="https://colab.research.google.com/github/Bluelord/Kaggle_Courses/blob/main/02%20Pandas/02%20Indexing%20Selecting%20Assigning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexing Selecting Assigning

---



---

## Tutorial

---

In [1]:
# Mounting drive to get data from the drive location
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:

import pandas as pd
reviews = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/Kaggle_Courses/02 Pandas/winemag-data-130k-v2.csv", index_col=0)
pd.set_option('max_rows', 5)

In [4]:
reviews

         country  ...                winery
0          Italy  ...               Nicosia
1       Portugal  ...   Quinta dos Avidagos
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[129971 rows x 13 columns]

In [5]:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
reviews['country']

In [6]:
reviews['country'][0]

'Italy'

### Indexing in pandas

Pandas has its own accessor operators, `loc` and `iloc`. 

**Index-based selection** Pandas indexing works in one of two paradigms. The first is **index-based selection**: selecting data based on its numerical position in the data. `iloc` follows this paradigm. Both `loc` and `iloc` are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second. On its own, the `:` operator, it can be used to indicate a range of values.

In [9]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [10]:
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [11]:
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [12]:
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [13]:
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [14]:
reviews.iloc[-5:]

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

**Label-based selection** The second paradigm for attribute selection is the one followed by the `loc` operator: **label-based selection**. In this paradigm, it's the data index value, not its position, which matters.

In [15]:
reviews.loc[0, 'country']

'Italy'

`iloc` is conceptually simpler than `loc` because it ignores the dataset's indices. When we use `iloc` we treat the dataset like a big matrix (a list of lists), one that we have to index into by position. `loc`, by contrast, uses the information in the indices to do its work. Since your dataset usually has meaningful indices, it's usually easier to do things using `loc`.

In [16]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

**Choosing between `loc` and `iloc`**

`iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. `loc`, meanwhile, indexes inclusively. Why the change? Remember that `loc` can index any stdlib type.

If we have a DataFrame with index values `Apples, ..., Potatoes, ...`, and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index `df.loc['Apples':'Potatoes']` than it is to index something like `df.loc['Apples', 'Potatoet]` (`t` coming after `s` in the alphabet).
This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using `loc`, you will need to go one lower and ask for `df.loc[0:999]`.

**Manipulating the index**

Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. We can manipulate the index in any way we see fit. 
The `set_index()` method can be used to do the job. Here is what happens when we `set_index` to the `title` field:

In [17]:
reviews.set_index("title")

                                                     country  ...                winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...               Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...   Quinta dos Avidagos
...                                                      ...  ...                   ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...  Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...      Domaine Schoffit

[129971 rows x 12 columns]

### Conditional selection

To do *interesting* things with the data, however, we often need to ask questions based on conditions. 
For example, suppose that we're interested specifically in better-than-average wines produced in Italy. We can start by checking if each wine is Italian or not:

In [18]:
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

This operation produced a Series of `True`/`False` booleans based on the `country` of each record.  This result can then be used inside of `loc` to select the relevant data. Suppose we'll buy any wine that's made in Italy _or_ which is rated above average. For this we use a pipe (`|`):

In [22]:
reviews.loc[reviews.country == 'Italy']

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

In [23]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[61937 rows x 13 columns]

This DataFrame has ~20,000 rows. The original had ~130,000. That means that around 15% of wines originate from Italy. We also wanted to know which ones are better than average. Wines are reviewed on a 80-to-100 point scale, so this could mean wines that accrued at least 90 points. We can use the ampersand (`&`) to bring the two questions together:

In [20]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

       country  ...    winery
120      Italy  ...   Ceretto
130      Italy  ...   Ceretto
...        ...  ...       ...
129961   Italy  ...       COS
129962   Italy  ...  Cusumano

[6648 rows x 13 columns]

Pandas comes with a few built-in conditional selectors, `isin` is lets you select data whose value "is in" a list of values. The second is `isnull` (and its companion `notnull`). These methods let you highlight values which are (or are not) empty (`NaN`).

In [24]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[41633 rows x 13 columns]

In [25]:
reviews.loc[reviews.price.notnull()]

         country  ...                winery
1       Portugal  ...   Quinta dos Avidagos
2             US  ...             Rainstorm
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[120975 rows x 13 columns]

### Assigning data

Going the other way, assigning data to a DataFrame is easy. You can assign either a constant value, Or with an iterable of values:

In [26]:
reviews['critic'] = 'everyone'
reviews['critic']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

In [27]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

## Exercise

---

In [29]:
import pandas as pd

reviews = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/Kaggle_Courses/02 Pandas/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

In [32]:
# Select the description column from reviews and assign the result to the variable desc

desc = reviews.description

In [33]:
first_description = reviews.description[0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

In [38]:
# Select the first row of data (the first record) from reviews, assigning it to the variable first_row.

first_row = reviews.iloc[0]
first_row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [39]:
# Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

first_descriptions = reviews.description.iloc[:10]
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
                           ...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

In [40]:
# Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

sample = [1, 2, 3, 5, 8]
sample_reviews = reviews.loc[sample]

sample_reviews

    country  ...               winery
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
5     Spain  ...               Tandem
8   Germany  ...          Heinz Eifel

[5 rows x 13 columns]

In [41]:
# Create a variable df containing the country, province, region_1, and region_2 
# columns of the records with the index labels 0, 1, 10, and 100

cols = ['country', 'province', 'region_1', 'region_2']
rows = [0,1,10,100]
df = reviews.loc[rows,cols]

df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [43]:
# Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

cols = ['country', 'variety']
df = reviews.loc[0:99,cols]

df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
..       ...                       ...
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

In [45]:
#Create a DataFrame italian_wines containing reviews of wines made in Italy.
italian_wines = reviews[reviews.country == 'Italy']

italian_wines

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

In [46]:
# Create a DataFrame top_oceania_wines containing all reviews with at least
# 95 points (out of 100) for wines from Australia or New Zealand.

top_oceania_wines = reviews.loc[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews.points >= 95)]
top_oceania_wines

            country  ...                       winery
345       Australia  ...  Chambers Rosewood Vineyards
346       Australia  ...  Chambers Rosewood Vineyards
...             ...  ...                          ...
122507  New Zealand  ...             Squawking Magpie
122939    Australia  ...                     Torbreck

[49 rows x 13 columns]