<a href="https://colab.research.google.com/github/Bluelord/Kaggle_Courses/blob/main/02%20Pandas/05%20Datatypes%20%26%20Missing%20values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datatypes & Missing values

---



---

## Tutorial

---

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
pd.set_option('max_rows', 5)
import numpy as np
reviews = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/Kaggle_Courses/02 Pandas/winemag-data-130k-v2.csv", index_col=0)
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

### Dtypes

The data type for a column in a DataFrame or a Series is known as the **dtype**.
You can use the `dtype` property to grab the type of a specific column.  For instance, we can get the dtype of the `price` column in the `reviews` DataFrame. A DataFrame or Series index has its own `dtype`.

In [3]:
reviews.price.dtype

dtype('float64')

Alternatively, the `dtypes` property returns the `dtype` of _every_ column in the DataFrame:

In [4]:
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

Data types tell us something about how pandas is storing the data internally. `float64` means that it's using a 64-bit floating point number;
One peculiarity to keep in mind is that columns consisting entirely of strings do not get their own type; they are instead given the `object` type.
It's possible to convert a column of one type into another wherever such a conversion makes sense by using the `astype()` function.

In [5]:
reviews.points.astype('float64')

0         87.0
1         87.0
          ...
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

In [6]:
reviews.index.dtype

dtype('int64')

### Missing data

Entries missing values are given the value `NaN`, short for "Not a Number". For technical reasons these `NaN` values are always of the `float64` dtype.
Pandas provides some methods specific to missing data. To select `NaN` entries you can use `pd.isnull()`, its companion `pd.notnull()`

In [7]:
reviews[pd.isnull(reviews.country)]

       country  ...              winery
913        NaN  ...  Gotsa Family Wines
3131       NaN  ...   Barton & Guestier
...        ...  ...                 ...
129590     NaN  ...           Büyülübağ
129900     NaN  ...              Psagot

[63 rows x 13 columns]

Replacing missing values is a common operation.  Pandas provides a really handy method for this problem, `fillna()` which provides a few different strategies for mitigating such data. For example, we can simply replace each `NaN` with an `"Unknown"`.

In [8]:
reviews.region_2.fillna("Unknown")

0         Unknown
1         Unknown
           ...
129969    Unknown
129970    Unknown
Name: region_2, Length: 129971, dtype: object

We could fill each missing value with the first non-null value that appears sometime after the given record in the database. This is known as the backfill strategy. Alternatively, we may have a non-null value that we would like to replace. For example, suppose that since this dataset was published, reviewer Kerin O'Keefe has changed her Twitter handle from `@kerinokeefe` to `@kerino`. One way is using the `replace()` method:

In [9]:
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0            @kerino
1         @vossroger
             ...
129969    @vossroger
129970    @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

The `replace()` method is worth mentioning here because it's handy for replacing missing data which is given some kind of sentinel value in the dataset: things like `"Unknown"`, `"Undisclosed"`, `"Invalid"`, and so on.

## Exercise

---

In [11]:
#What is the data type of the points column in the dataset?

reviews.points.dtypes

dtype('int64')

In [13]:
# Create a Series from entries in the points column, but convert the entries to strings.

reviews.points.astype('str')

0         87
1         87
          ..
129969    90
129970    90
Name: points, Length: 129971, dtype: object

In [16]:
# Sometimes the price column is null. How many reviews in the dataset are missing a price?
n_missing_prices = reviews.price.isnull().sum()

n_missing_prices

8996

In [18]:
# What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the region_1 field.
# This field is often missing data, so replace missing values with Unknown. Sort in descending order. Your output should look something like this:

reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
reviews_per_region

Unknown                        21247
Napa Valley                     4480
                               ...
Southern Flinders Ranges           1
Currency Creek-McLaren Vale        1
Name: region_1, Length: 1230, dtype: int64