<a href="https://colab.research.google.com/github/Bluelord/Kaggle_Courses/blob/main/01%20Python/01%20hello%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, Python!

---



---

## (Tutorial)


---

Python was named for the British comedy troupe [Monty Python](https://en.wikipedia.org/wiki/Monty_Python), so we'll make our first Python program an homage to their skit about Spam?

Just for fun, try reading over the code below and predicting what it's going to do when run.

In [1]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY spam!
Spam Spam Spam Spam

This program demonstrates many important aspects of what Python code looks like and how it works. Let's review the code.

    spam_amount = 0

**Variable assignment:** created a variable called `spam_amount` and assign it the value of 0 using `=`, which is called the assignment operator.

    print(spam_amount)

**Function calls:**. `print` is a Python function that displays the value passed to it on the screen. We call functions by putting parentheses after their name, and putting the inputs (or *arguments*) to the function in those parentheses.

    # Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
    spam_amount = spam_amount + 4

The first line above is a **comment**. In Python, comments begin with the `#` symbol. Next we see an example of reassignment. Reassigning the value of an existing variable looks just the same as creating a variable - it still uses the `=` assignment operator.

    if spam_amount > 0:
      print("But I don't want ANY spam!")

    viking_song = "Spam Spam Spam"
    print(viking_song)

Python is prized for its readability and the simplicity. Note how we indicated which code belongs to the `if`. `"But I don't want ANY spam!"` is only supposed to be printed if `spam_amount` is positive. But the later code (like `print(viking_song)`) should be executed no matter what.

The colon (`:`) at the end of the `if` line indicates that a new "code block" is starting. Subsequent lines which are **indented** are part of that code block. Some other languages use `{`curly braces`}` to mark the beginning and end of code blocks.

### Numbers and arithmetic in Python

A natural thing to want to do with numbers is perform arithmetic. We've seen the `+` operator for addition, and the `*` operator for multiplication (of a sort). Python also has us covered for the rest of the basic buttons on your calculator:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

<span style="display:none"></span>

In [4]:
print(5 / 2)
print(6 / 2)

2.5
3.0

It always gives us a `float`.
The `//` operator gives us a result that's rounded down to the next integer.

In [5]:
print(5 // 2)
print(6 // 2)

2
3

#### Order of operations

The order in which operations are evaluated such as **PEMDAS** - **P**arentheses, **E**xponents, **M**ultiplication/**D**ivision, **A**ddition/**S**ubtraction.

In [6]:
8 - 3 + 2

7

In [7]:
-3 + 4 * 2

5

In [8]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 26.9 ?

In [9]:
# Parentheses are your useful here. You can add them to force Python to evaluate sub-expressions in whatever order you want.

total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

#### Builtin functions for working with numbers

`min` and `max` return the minimum and maximum of their arguments, `abs` returns the absolute value of it argument. Python's two main numerical types, `int` and `float` can also be called as functions which convert their arguments to the corresponding type:

In [10]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

In [11]:
print(abs(32))
print(abs(-32))

32
32

In [12]:
print(float(10))
print(int(3.33))
# They can even be called on strings!
print(int('807') + 1)

10.0
3
808

## Exercises

---


**What is your favorite color?**

To complete this question, create a variable called `color` in the cell below with an appropriate value.

In [13]:
# create a variable called color with an appropriate value on the line below
# (Remember, strings in Python must be enclosed in 'single' or "double" quotes)
#____
Color = "red"
print(Color)

red

In [14]:
pi = 3.14159 # approximate
diameter = 3

# Create a variable called 'radius' equal to half the diameter
radius = diameter/2

# Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared
area = pi*(radius*radius)
print(area)

7.0685775

Add code to the following cell to swap variables `a` and `b` (so that `a` refers to the object previously referred to by `b` and vice versa).

In [16]:
########### Setup code - don't touch this part ######################
# If you're curious, these are examples of lists. We'll talk about 
# them in depth a few lessons from now. For now, just know that they're
# yet another type of Python object, like int or float.
a = [1, 2, 3]
b = [3, 2, 1]
######################################################################
temp = b
b = a
a = temp
print("a:{}" .format(a))
print("b:{}" .format(b))
######################################################################

a:[3, 2, 1]
b:[1, 2, 3]

a) Add parentheses to the following expression so that it evaluates to 1.

b) <span title="A bit spicy" style="color: darkgreen ">🌶️</span> Add parentheses to the following expression so that it evaluates to 0

In [17]:
(5 - 3) // 2

1

In [18]:
(8 - (3 * 2)) - (1 + 1)

0

Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves.
For the sake of their friendship, any candies left over will be smashed. For example, if they collectively
bring home 91 candies, they'll take 30 each and smash 1.

Write an arithmetic expression below to calculate how many candies they must smash for a given haul

In [19]:
# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109

# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies

to_smash = (alice_candies + bob_candies + carol_candies) % 3
print(to_smash)

1