<a href="https://colab.research.google.com/github/Bluelord/Kaggle_Courses/blob/main/01%20Python/04%20Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists


---



---

## Tutorial


Lists in Python represent ordered sequences of values. Here is an example of how to create them, other datatypes can be in lists, a list of lists.

In [44]:
primes = [2, 3, 5, 7]
print(primes)

[2, 3, 5, 7]

In [45]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [46]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
print(hands)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [47]:
my_favourite_things = [32, 'raindrops on roses', help]

print(my_favourite_things)

[32, 'raindrops on roses', Type help() for interactive help, or help(object) for help about object.]

### Indexing

You can access individual list elements with square brackets. Python uses *zero-based* indexing, so the first element has index 0.

In [48]:
planets[0]

'Mercury'

In [49]:
planets[1]

'Venus'

In [50]:
planets[-1]

'Neptune'

In [51]:
planets[-2]

'Uranus'

### Slicing

`planets[0:3]` is our way of asking for the elements of `planets` starting from index 0 and continuing up to *but not including* index 3.
The starting and ending indices are both optional. If I leave out the start index, it's assumed to be 0. So I could rewrite the expression above as:

In [52]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [53]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [54]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [55]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [56]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

### Changing lists

Lists are "mutable", meaning they can be modified "in place".
One way to modify a list is to assign to an index or slice expression.

In [57]:
planets[3] = 'Malacandra'
print(planets)

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [58]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### List functions

Python has several useful functions for working with lists. `len` gives the length of a list, `sorted` returns a sorted version of a list, `sum` adds all the values in list, `min` and `max` to get the minimum or maximum of several arguments. But we can also pass in a single list argument.

In [59]:
# How many planets are there?
len(planets)

8

In [60]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [61]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [62]:
max(primes)

7

### Interlude: objects

Objects carry some things around with them. You access that stuff using Python's dot syntax.
For example, numbers in Python carry around an associated variable called `imag` representing their imaginary part. The things an object carries around can also include functions. A function attached to an object is called a **method**. (Non-function things attached to an object, such as `imag`, are called *attributes*). For example, numbers have a method called `bit_length`. Again, we access it using dot syntax.

In [63]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [64]:
x.bit_length

In [65]:
x.bit_length()

4

### List methods

`list.append` modifies a list by adding an item to the end, **Aside:** `append` is a method carried around by *all* objects of type list. However, if we try to call `help(append)`, Python will complain that no variable exists called "append". The "append" name only exists within lists - it doesn't exist as a standalone name like builtin functions such as `max` or `len`. `list.pop` removes and returns the last element of a list.

In [66]:
# Pluto is a planet darn it!
planets.append('Pluto')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [67]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [68]:
planets.pop()

print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#### Searching lists

Where does Earth fall in the order of planets? We can get its index using the `list.index` method.

In [74]:
planets.index('Earth')

2

In [75]:
planets.index('Pluto')

ValueError: ignored

Oh, that's right...

To avoid unpleasant surprises like this, we can use the `in` operator to determine whether a list contains a particular value:

In [76]:
# Is Earth a planet?
"Earth" in planets

True

In [77]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

There are a few more interesting list methods we haven't covered. If you want to learn about all the methods and attributes attached to a particular object, we can call `help()` on the object itself. For example, `help(planets)` will tell us about *all* the list methods:

In [78]:
help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Tuples

Tuples are almost exactly the same as lists. They differ in just two ways.

**1:** The syntax for creating them uses parentheses instead of square brackets.
**2:** They cannot be modified (they are *immutable*).

In [79]:
t = (1, 2, 3)

In [80]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [81]:
t[0] = 100

TypeError: ignored

Tuples are often used for functions that have multiple return values.

For example, the ``as_integer_ratio()`` method of float objects returns a numerator and a denominator in the form of a tuple:

In [82]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [83]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [84]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

## Exercise

---

In [85]:
def select_second(L):
    if len(L) < 2:
        return None
    return L[1]
select_second([2,4,5,6,7,4])

4

You are analyzing sports teams.  Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. 
These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last.  Complete the function below to select the **captain** of the worst team.

In [86]:
def losing_team_captain(teams):
    return teams[-1][1]

The next iteration of Mario Kart will feature an extra-infuriating new item, the *Purple Shell*. When used, it warps the last place racer into first place and the first place racer into last place. Complete the function below to implement the Purple Shell's effect.

In [87]:
def purple_shell(racers):
    racers[0],racers[-1] = racers[-1],racers[0]

In [88]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

# Put your predictions in the list below. Lengths should contain 4 numbers, the
# first being the length of a, the second being the length of b and so on.
lengths = [3,2,0,3]
print("length of a: {}\n" .format(len(a)),
      "length of b: {}\n" .format(len(b)),
      "length of c: {}\n" .format(len(c)),
      "length of d: {}\n" .format(len(d)), 
      "Your prediction:", lengths)

length of a: 3
 length of b: 2
 length of c: 0
 length of d: 2
 Your prediction: [3, 2, 0, 3]

We're using lists to record people who attended our party and what order they arrived in. For example, the following list representing 7 guests.

    party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

A guest is considered 'fashionably late' if they arrived after at least half of the party's guests. However, they must not be the very last guest (that's taking it too far). Complete the function to takes a list of party attendees as well as a person which is fashionably late.

In [91]:
def fashionably_late(arrivals, name):
    order = arrivals.index(name)
    return order >= len(arrivals) / 2 and order != len(arrivals) - 1

fashionably_late(['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford', 'Parth', 'Jone'], 'Ford')

True